@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0;
}

body {
    margin: 1rem;
}

.addresse-wrapper {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

label {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

input {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: solid 1px rgb(252, 205, 148);
    outline: none;
    padding: 0.3rem 0.6rem;
}

#addresse-previsualisation {
    margin-top: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.addresse {
    padding: 0.3rem 0.6rem;
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
}

.addresse:hover {
    background-color: rgb(255, 234, 209);
}